@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";

a {
  text-decoration: none;
}
.containers {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  color: white;
  background-color: transparent;
  border: 2px solid #02a8cc;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  transition: 0.3s ease;
  transition-property: background-color, color;
  text-decoration: none;
}
.cta:hover {
  color: white;
  background-color: #02a8cc;
}

/* Hero Section */
#hero {
  background-image: url("./img/home.jpg");
  background-size: cover;
  background-position: top center;
  font-size: 20px;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}
#hero > .hero > div {
  align-items: center;
  justify-content: center;
}

#hero .heroh1 {
  display: block;
  width: fit-content;
  font-size: 3.5em !important;
  position: relative;
  font-family: "Jost", sans-serif;
  color: transparent;

  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#hero .heroh1:nth-child(1) {
  animation-delay: 1s;
}
#hero .heroh1:nth-child(2) {
  animation-delay: 2s;
}
#hero .heroh1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
#hero .heroh1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #02a8cc;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* End Hero Section */

/* Keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: #02a8cc;
    font-weight: 500;
    background: white;
    padding: 6px;
    border-radius: 10px;
  }
}
/* End Keyframes */

/* Media Query For Tablet */
@media screen and (max-width: 480px) {
  #hero > .containers > div > .heroh1 {
    font-size: 2em !important;
  }
  #titlename {
    display: none !important;
  }
  .containers {
    height: 85vh;
  }
}
