@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
body{
    overflow-x: hidden;
}
.bg-img-scroll
{
    background-image: url("./img/home.jpg");
    width: 100%;
    height: auto;

    background-size: cover;
    background-attachment: fixed;
    padding: 10vw 20vw;
    color: white;
}


.bg
{
background-color: black !important;
}

.nav-text
{
    font-family: 'Playfair Display', serif;
    font-size: 28px !important;
    color: white !important;
    margin: 0 50px;
}


.navbar
{
    background-color: black!important;
    padding: 20px 0 10px 0 !important;
}
.brand-padding
{
    margin: 0 40px !important;
}
.nav-padding{
    margin: 0 30px!important;
    font-family: 'Raleway', sans-serif !important;
    color: white !important;
}
.nav-padding:hover
{
    color: #d7263d !important;
}
/* home */
.home-wrapper
{
    width: 100%;
    height: 90vh;
    background-color: black;
}

/* slider */

.brandtext
{
    font-family: 'Playfair Display', serif;
    font-size: 4rem!important;
    text-shadow: 4px 2px 14px rgba(255,255,255,0.67);
}


.navbar-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    padding: 0;
    border: none;
}
.navbar-toggler:hover, .navbar-toggler:focus {
    outline: 0;
}
.navbar-toggler .icon-bar {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 3px;
    background: #000;
    transition: all 0.3s ease;
    will-change: transform;
}
.navbar-toggler .icon-bar:before, .navbar-toggler .icon-bar:after {
    content: '';
    position: absolute;
    background: #000;
    top: 0;
    width: auto;
    height: 100%;
    transition: 0.3s;
    will-change: transform;
}
.navbar-toggler .icon-bar:before {
    left: 0;
    right: 0;
    transform: translate(0, -7px);
}
.navbar-toggler .icon-bar:after {
    left: 0;
    right: 0;
    transform: translate(0, 7px);
}
.navbar-toggler:not(.collapsed) .icon-bar {
    background: 0;
}
.navbar-toggler:not(.collapsed) .icon-bar:before, .navbar-toggler:not(.collapsed) .icon-bar:after {
    left: 0;
    right: 0;
}
.navbar-toggler:not(.collapsed) .icon-bar:before {
    transform: rotate(135deg);
}
.navbar-toggler:not(.collapsed) .icon-bar:after {
    transform: rotate(45deg);
}
.gallery-item {
    position: relative;
}
.gallery-item .item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-item {
    padding: 15vw 0;
    background-size: cover;
    background-position: center;
}



/* ---- */

/* title */

.title-wrap
{
    margin: 45px 0;
}
.title-wrap > .subtext
{
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
}
.title-wrap > .subtext > span
{
    color: #d7263d;
    
}
.title-wrap > .title
{
    font-family: 'Jost', sans-serif;
    font-size: 3em;
    margin-top: -15px;
}
.title-wrap >.title >span{
    color: #d7263d;
}

/* about */
.about__container
{
    padding: 10px 10vw !important;
}
.about-text
{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.scroll-text
{
    font-family: 'Jost', sans-serif;
}

.bg-img-scroll > .p
{
    font-family: 'Poppins', sans-serif !important;  
    font-size: 1rem !important;
    margin: 40px 0;
}

/* counter */
.counter__wrapper
{
    margin: 150px 0 !important ;
   
}
.counter__box
{
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 23px 26px 66px -13px rgba(0,0,0,0.3);
-moz-box-shadow: 23px 26px 66px -13px rgba(0,0,0,0.3);
box-shadow: 23px 26px 66px -13px rgba(0,0,0,0.3);
align-items: center;
justify-content: center;
transition: ease 0.5s;
}
.counter__box:hover 
{
    background-color: #d7263d;
    color: white;
}
.counter__box:hover >.timer
{
    color: white;

}
.timer
{
    font-size: 3em;
    margin: 10px;
    font-family: 'Playfair Display', serif;
    color: #d7263d;

    
    
}
.counter-text
{
    font-family: 'Rubik', sans-serif;
    
}
/* card */

.wrapper {
    margin: 5vh;
}
.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 30px !important;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    .card {
        min-height: 350px;
   }
}
@media (max-width: 420px) {
    .card {
        min-height: 300px;
   }
}
.card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}
.card.card-has-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    /* -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); */
}
.card.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card.card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    /* background: #234f6d; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgb(215, 38, 61) 100%);
}
.card .card-footer {
    background: none;
    border-top: none;
}
.card .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3);
}
.card .card-meta {
    background-color: white;
    border-radius: 40px;
    padding: 10px ;
    color: #d7263d;
    font-weight: 700;
}
.card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3) 0%, rgba(69, 95, 113, 1) 100%);
}









